<div class="SC_app_container">
  <nav class="SC_aside_nav">
    <div class="SC_logo">
      <div class="SC_logo-img">

        <img src="../assets/logo.png" alt="Logo">
      </div>
      <div class="SC_logo-text">
        <div>Smart</div> 
        <div>Campus</div> 
      </div>
    </div>
    <ul class="SC_nav-lists">
      <li routerLink="/new-student">Add Student</li>
      <li routerLink="/new-staff">Add Staff</li>
      <li routerLink="/students">student dashboard</li>
    </ul>
  </nav>

  <section class="SC_main-section">
    <router-outlet></router-outlet>
  </section>
</div>
